{% extends "layouts/base.html" %}

{% block title %} Ui Buttons {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">AOCS</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Spacecraft</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">AOCS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Reaction Wheels</h5>
                            </div>
                            <div class="card-block">
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Reaction wheel 1</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Reaction wheel 2</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Reaction wheel 3</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Sun Sensor</h5>
                            </div>
                            <div class="card-block">
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Sun Sensor X</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Sun Sensor Y</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Sun Sensor Z</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>