{% extends "layouts/base.html" %}

{% block title %} UI Badges {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Check capture system</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Spacecraft</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Capture system</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ badge ] start -->
                    <div class="col-sm-12">
                        <div class="card">
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Button Badges</h5>
                            </div>
                            <div class="card-block">
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Arm 1</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Arm 2</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Arm 3</button>
                                <button type="button" class="btn btn-outline-warning" title="check it" data-toggle="tooltip">Arm 3</button>

                            </div>
                        </div>
                    </div>
                    <!-- [ badge ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
